# Servidor
PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3001

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=skillhub_db
DB_USER=postgres
DB_PASSWORD=tu_contrasena_aqui
DB_SSL=false

# Alternativa para Render/Railway si entregan una URL completa:
# DATABASE_URL=postgresql://usuario:password@host:5432/skillhub_db

# JWT
JWT_SECRET=clave_secreta_muy_larga_y_segura
JWT_EXPIRES_IN=24h
